@tailwind base;
@tailwind components;
@tailwind utilities;
/*---------------------------------------------HEADER----------------------------------------------------------------*/
.center-sec .menu-items li a.active {
  color: #ea2330;
} 
.main-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}  
 .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 5px;
} 


.dropdown .dropdown-menu {
  font-size: 1em;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
  min-width: 120px;
  background-color: #fff;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 6px 20px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover {
  background-color: #ebe8e8;
  color: #085c79;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
@media (max-width: 640px) {
  .icon-sm-screen {
      font-size: 28px !important;
      margin-left: 8px;
  }
}
/* ...........................................LEFT SCREEN............................................................*/

.left-box {
  top: 100px;
  overflow-y: auto;
  width: 70%;
}  

.box-one {
  display: block;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}



.flight-input .flight-group input {
  padding: 0;
  border: none;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}
.btn-red {
  color: #ffffff;
  background-color: #ea2330;
  border-color: #ea2330;
}

.btn {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 15px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}
.form-control {
  font-size: 1em;
  line-height: 1.4;
  padding: 8px 15px;
  color: #333333;
  background-color: #f1f1f1;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  height: auto !important;
  width: 100%;
  display: block;
}
/* ...........................................Reschedule............................................................*/




















