

.img-sec img {
  width: 60px;
  height: 60px;
}









.dashboard-box .body-sec ul li a {
  position: relative;
  display: block;
  color: #999999;
}

.dashboard-box .body-sec ul li :hover {
  color: red;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-red {
  color: #ffffff;
  background-color: #ea2330;
  border-color: #ea2330;
}

.btn {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 15px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}
