



.btn-red {
  color: #ffffff;
  background-color: #ea2330;
  border-color: #ea2330;
}

.btn {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 15px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}


.collapse-enter {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.collapse-enter-active {
  height: auto;
  opacity: 1;
  transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}
.collapse-exit {
  height: auto;
  opacity: 1;
}
.collapse-exit-active {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
}
























/* YourComponent.css */

/*loader.........................................................................................*/
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.loader {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 35rem;
  height: 30rem;
}

.wait {
  margin: 5rem 0;
}

.iata_code {
  font-size: 6rem;
  opacity: 0.3;
  top: 52%;
  position: absolute;
  color: #0099cc;
}

.departure_city {
  left: 0;
}

.arrival_city {
  right: 1.5rem;
}

.plane {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.plane-img {
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.earth-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding-top: 2.7rem;
}

.earth {
  width: 160px;
  height: 160px;
  background: url("https://zupimages.net/up/19/34/6vlb.gif");
  border-radius: 100%;
  background-size: 340px;
  animation: earthAnim 12s infinite linear;
  margin: 0 auto;
  border: 1px solid #cdd1d3;
}

@keyframes earthAnim {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -340px;
  }
}

@media screen and (max-width: 420px) {
  .departure_city {
    left: 0;
    right: 0;
    top: 30%;
    position: absolute;
    margin: 0 auto;
  }

  .arrival_city {
    left: 0;
    right: 0;
    top: 93%;
    position: absolute;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
}

.listing-filter-bar {
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.flight-sec {
  margin-top: 50px;
}
