




/* //////////////////////////////////////// */
.offer-pg .menu-list li :hover {
    background-color: #ea2330;
    color: white;
}

.hotel-offer-one .details-sec .bottom-sec .btns {
    padding: 8px 15px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    transition: 0.6s all;
}

.hotel-offer-one:hover .details-sec .bottom-sec .btns {
    background-color: #ea2330;
    color: #ffffff;
    /* Optional: Change text color on hover */
}