.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #333333;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.center-sec .menu-items li a.active {
    color: #ea2330;
}

.main-footer {
    border-top: 1px solid #e4e4e4;
    background-color: #fdfdfd;
}

.main-footer .footer_widgets {
    position: relative;
    padding: 50px 0;
}

.main-footer a {
    color: #919191;
}

.main-footer a:hover {
    color: #ea2330;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

.social-list2 {
    display: flex;
}

@media (min-width: 768px) {
    .justify-content-md-end {
        justify-content: flex-end !important;
    }
}

.social-list2 a {
    width: 32px;
    height: 32px;
    line-height: 30px;
    margin: 0 5px 5px 0;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.social-list2 a:hover {
    color: #ea2330;
    border: 1px solid #ea2330;
}

h4 {
    font-size: 16px;
}

.help-num {
    font-size: 22px;
}

.main-footer .more-info .content .trust span img {
    height: 36px;
}

.main-footer .more-info {
    background-color: #f7f7f7;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
}

.listing-filter-bar {
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}










/* //////////////////////////////////////// */
.offer-pg .menu-list li :hover {
    background-color: #ea2330;
    color: white;
}

.hotel-offer-one .details-sec .bottom-sec .btns {
    padding: 8px 15px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    transition: 0.6s all;
}

.hotel-offer-one:hover .details-sec .bottom-sec .btns {
    background-color: #ea2330;
    color: #ffffff;
    /* Optional: Change text color on hover */
}